:host {

  .top-bar {
    width: 100vw;
    height: 32px;
    background: #0d1117;
    color: #e6edf3;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;

  }

  .top-bar .center-menu .play-icon.play {
    color: green;
  }

  .top-bar .left-menu {
    padding-left: 24px;
    .item {
      transition: all 0.3s;
      padding: 4px 8px;
      margin-left: 8px;
      font-weight: 600;
      cursor: pointer;

      &:hover{
        color: #5baed4;
        background-color: #263142;
      }
    }

  }

  .top-bar .center-menu {
    flex-grow: 1;
    text-align: center;
  }

  .top-bar .right-menu {
    padding-right: 24px;
    display: flex;
    gap: 8px;
    align-items: center;

    .item {
      transition: all 0.3s;
      padding: 4px 8px;
      font-weight: 600;
      cursor: pointer;
      border: 1px solid #30363d;
      border-radius: 6px;

      &:hover{
        color: #5baed4;
        background-color: #263142;
      }
    }
  }
}
