<div class="top-bar">
  <div class="left-menu">
     <!-- <app-icon class="play-icon" iconName="fa-burger" [iconSize]="18" ></app-icon> -->
    <span class="item">Scene</span>
    <span class="item">Objects</span>
    <span class="item">Assets</span>
  </div>
  <div class="center-menu">
    <app-icon class="play-icon" iconName="fa-play" (click)="onPlay()" [isButton]="true"
      [isSelected]="scene && scene.isRunning"></app-icon>
    <app-icon class="play-icon" iconName="fa-pause" (click)="onPause()" [isButton]="true"
      [isSelected]="isEditorPaused"></app-icon>
    <app-icon class="play-icon" iconName="fa-stop" (click)="onStop()" [isButton]="true"
      [isSelected]="scene && !scene.isRunning && !isEditorPaused"></app-icon>
  </div>
</div>
