@if (entity) {
<div class="inspector">
  <editor-inspector-header [entity]="entity"></editor-inspector-header>
  <section>
    <span>Name</span><input class="text-input" [value]="entity!.name" (change)="onNameChanged($event)">
  </section>
  <section>
    <span>Tag</span><input class="text-input" [value]="entity!.tag" (change)="onTagChanged($event)">
  </section>

  @for (item of objectsToshow ; track $index) {
    @switch (item.type) {

      @case ("Transform") {<editor-transform-inspector [entity]="entity"></editor-transform-inspector> }
      @case ("_Color") {<editor-color-inspector [entity]="entity" [propertyName]="item.key"
        [selectedColor]="item.property"></editor-color-inspector> }
      @case ("_Vector234") { <editor-vector-inspector [vector]="item.property"
        (vectorChanged)="onVectorChanged(item, $event)"></editor-vector-inspector>}

    }
  }

  <!-- <editor-color-inspector></editor-color-inspector> -->
</div>
}
