:host {

  .inspector {
    height: 100%;
    width: 250px;
    min-width: 200px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--editor-panel-outer-padding);
    background: var(--editor-panel-background);
    color: var(--editor-panel-color);
    border: var(--editor-panel-border);
    box-shadow: var(--editor-panel-box-shadow);
    position: absolute;
    height: 90%;
    transform: translateX(7vw) translateY(5vh);
    top: 0;
    left: 0;

  }

  .inspector .content {
    overflow-y: auto;
    overflow-x: hidden;
  }



  .inspector .footer {
    display: flex;
    position: sticky;
    margin-top: auto;
    bottom: 0;
    width: 100%;
  }

  .inspector .footer span {
    width: 100%;
    background-color: var(--editor-panel-background);
  }
}
