:host{

  .panel-header{
    content:"    ";
    min-width: 126px;
    min-height: 16px;
    width: 80%;
    margin-left: 30px;
    text-align: center;
    padding-top: 4px;
    max-width: 40%; 

  }

  .texture-preview{
    position: relative;
    max-width: 64px;
    max-height: 64px

  }
  .texture-preview img{
    max-width: 64px;
    max-height: 64px;

  }
 
}
