@if (_selectedObject) {
  <editor-inpector-toggle-panel
    [title]="
      _selectedObject.key.capitalize() + ' ' + _selectedObject.property.name
    "
    [collapsed]="true"
  >
    @if (texture) {
      <div class="texture-preview">
        <img [src]="texture.textureUri" />
      </div>
    }
    @for (item of _properties; track $index) {
      @switch (item.type) {
        @case ("object") {
          <editor-object-inspector
            [label]="item.key.capitalize() + ' ' + item.value.name"
            [isChild]="true"
            [targetObject]="{
              key: item.key,
              type: item.type,
              property: item.value,
            }"
          ></editor-object-inspector>
        }
        @default {
          <editor-default-inspector
            [item]="item"
            (change)="onDefaultChanged(item, $event)"
          ></editor-default-inspector>
        }
      }
    }
  </editor-inpector-toggle-panel>
}
