{
  "printWidth": 180,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "parser": "html",
  "plugins": ["prettier-plugin-angular"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": false
      }
    }, {
      "files": "*.ts",
      "options": {
        "parser": "angular",
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": false
      }
    }
  ]
}