<h4 class="tree-header">Lights</h4>
<section>

  @for (light of targetScene?.lights; track $index) {
  <div class="item-container">
    <app-icon [iconName]="iconNames[light.lightType]"></app-icon>
    <span class="item-value">
      {{light.name}}
    </span>
    <app-icon class="view-icon" [iconName]="light.active ? 'fa-eye' : 'fa-eye-slash'"
      (click)="toggleLight(light)"></app-icon>
  </div>
  }@empty {
  <div>No Objects added to the scene</div>
  }
</section>

<h4 class="tree-header">Objects</h4>
<section>
  @for (obj of targetScene?.objects; track $index) {
  <div class="item-container">
    <app-icon iconName="bullseye"></app-icon>
    <span class="item-value"> {{obj.name}} </span>
    <app-icon class="view-icon" [iconName]="obj.active ? 'fa-eye' : 'fa-eye-slash'" (click)="toggleObj(obj)"></app-icon>
  </div>
  }@empty {
  <div>No Objects added to the scene</div>
  }
</section>
