:host {
  .button {
    cursor: pointer;
    padding: 4px;
    background-color: var(--editor-icon-button-background);
    color: var(--editor-icon-button-color);
    box-sizing: content-box;

    &:hover {
      background-color: var(--editor-icon-button-hover-background);
      color: var(--editor-icon-button-hover-color);
    }

    &.selected {
      background-color: var(--editor-icon-button-selected-background);
      color: var(--editor-icon-button-selected-color);
    }
  }
}
