:host {

  .line-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .line-item>span {
    min-width: 90px;
    max-width: 150px;

    &:hover {
      cursor: col-resize;
    }
  }

  .line-item .text-input {
    width: 100%;
    margin: 0 4px ;
    background: transparent;
    color: var(--editor-panel-text-input-color);
    border: var(--editor-panel-text-input-border);
    text-align: right;
    margin-right: 12px;
  }

}
