@if (behaviour) {
<editor-inpector-toggle-panel [title]="label" [rightAlign]="true">


  <app-boolean-inspector align="right" header-content [active]="behaviour.active"
    (change)="behaviour.active = !behaviour.active"></app-boolean-inspector>



  @for (item of _properties; track $index) { @switch (item.type) {

  @case ("entity") { <editor-text-input-inspector [label]="item.key.capitalize()" [value]="behaviour[item.key].uuid"
    readonly></editor-text-input-inspector> }
  @case ("string") { <editor-text-input-inspector [label]="item.key.capitalize()" [value]="behaviour[item.key]"
    (change)="onValueChanged(item,$event)"></editor-text-input-inspector> }

  @case ("number") { <editor-text-input-inspector [isNumber]="true" [label]="item.key.capitalize()"
    [value]="behaviour[item.key]" (change)="onValueChanged(item,$event)"
    [dragScale]="0.001"></editor-text-input-inspector> }

  @case ("boolean") { <app-boolean-inspector [label]="item.key.capitalize()" [active]="behaviour[item.key]"
    (change)="onValueChanged(item,$event)"></app-boolean-inspector>}

  @case ("color") {<editor-color-inspector [label]="item.key" [selectedColor]="behaviour[item.key]"
    (colorChange)="onColorChanged(item,$event)"></editor-color-inspector> }

  @case ("vector234") { <editor-vector-inspector [vector]="behaviour[item.key]"
    (vectorChanged)="onVectorChanged(item, $event)"></editor-vector-inspector>}

  @case ("enum") {<editor-enum-inspector [label]="item.key" [items]="item.property" [selected]="item.value"
    (change)="onEnumChanged(item, $event)"></editor-enum-inspector> }

  @default {
  <editor-object-inspector [isChild]="true" [label]="item.key.capitalize()"
    [targetObject]="{key:item.key, type:item.type ,property:item.value}"></editor-object-inspector> }

  }}



  <editor-inpector-toggle-panel [title]="'Enable Functions'" [isChild]="true">
    @for (item of _renderEnable; track $index) {
    <app-boolean-inspector [label]="item.key.capitalize()" [active]="behaviour[item.key]"
      (change)="onValueChanged(item,$event)"></app-boolean-inspector>
    }
  </editor-inpector-toggle-panel>
  <editor-inpector-toggle-panel [title]="'Render Settings'" [isChild]="true">
    @for (item of _renderProperties; track $index) {
    <editor-enum-inspector [label]="item.key" [items]="item.property" [selected]="item.value"
      (change)="onEnumChanged(item, $event)"></editor-enum-inspector>
    }
  </editor-inpector-toggle-panel>
</editor-inpector-toggle-panel>

}
