:host {
  z-index: 15;
  .inspector {
    display: flex;
    height: 100%;
    width: 350px;
    min-width: 200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--editor-panel-background);
    color: var(--editor-panel-color);
    border: var(--editor-panel-border);
    box-shadow: var(--editor-panel-box-shadow);
    position: absolute;
    height: 90%;
    transform: translateX(12vw) translateY(5vh);
    top: 0;
    left: 0;
    overflow-y: scroll;
  }

  .inspector .footer {
    display: flex;
    position: sticky;
    margin-top: auto;
    bottom: 0;
    padding: 10px;
    border-top: var(--editor-panel-border);
    background: var(--editor-panel-background-10);
  }

  .inspector .footer span {
    width: 100%;
  }
}
