<div class="tree-header">
  <h4>Scene Tree</h4>
  <div>
    <app-icon class="icon" iconName="fa-add"></app-icon>
    <app-icon class="icon" iconName="fa-filter"></app-icon>
  </div>
</div>
<section>

  @for (obj of objectsToDraw; track $index) {

  <div class="item-container" (click)="entitySelected(obj,$event)">
    <app-icon [iconName]="iconNames[obj.entityType]"></app-icon>
    <span class="item-value" [id]="obj.uuid">
      {{obj.name}}
    </span>
    <app-icon class="view-icon" [iconName]="obj.show ? 'fa-eye' : 'fa-eye-slash'"
      (click)="toggleObj(obj,$event)"></app-icon>
  </div>
  }@empty {
  <div>No Objects added to the scene</div>
  }
</section>
