<div class="tree-header">
  <h4>Scene Tree</h4>
  <div>
    <app-icon class="icon" iconName="fa-add" (click)="onSceneTreeAddNewRequested($event)"></app-icon>
    <editor-add-behaviour-menu
      [isOpen]="isAddEntityMenuOpen"
      [behaviours]="availableEntities"
      [menuX]="menuX"
      [menuY]="menuY"
      (behaviourSelected)="onEntitySelected($event)"
      (closeMenu)="isAddEntityMenuOpen = false">
    </editor-add-behaviour-menu>
    <!-- <app-icon class="icon" iconName="fa-filter"></app-icon> -->
  </div>
</div>
<div class="tree-body">
  @for (node of sceneTreeNodes; track node.id) {
  <app-tree-node [node]="node" [selectedNodeId]="selectedUuid" (nodeSelected)="onNodeSelected($event)"
    (nodeDropped)="handleNodeDropped($event)" />
  }@empty {
  <div>No Objects added to the scene</div>
  }
</div>
<div class="tree">

</div>
