:host {
  --trans-time: 0.4s;
  width: 300px;
  min-width: 300px;

  .tree-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #19212e, #1b2636, #0c1d3a);
    width: 100%;
    padding: 4px;
  }
  .tree-header .icon{
    &:hover{
      cursor: pointer;
      color: #4715dc;
    }
  }

  section .item-container {
    transition: all var(--trans-time);
    align-items: center;
    display: flex;
    border-radius: 8px;

    &:hover {
      color: rgb(159, 187, 219);
      background-image: linear-gradient(to right, #0c1d3a, #0095eb);
      cursor: pointer;
    }
  }

  section .item-value {
    flex-grow: 1;
    margin-left: 4px;
  }

  section .view-icon {
    cursor: pointer;
    transition: all var(--trans-time);

    &:hover {
      color: #202020
    }
  }
}
