:host {
  --trans-time: 0.4s;
  width: 300px;
  min-width: 300px;

  .tree-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
  }

  .tree-header .icon {
    &:hover {
      cursor: pointer;
      color: #07acff;
    }
  }
}
