:host {
  min-width: 200px;

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding-top: 4px;
  }

  section span {
    word-break: keep-all;
    white-space: nowrap;
  }

  section .text-input {
   width: 100%;
    margin: 0 4px ;
    background: transparent;
    color: var(--editor-panel-text-input-color);
    border: var(--editor-panel-text-input-border);
    padding: 4px;
    text-align: right;
    margin-right: 12px;
  }

  .behaviours-header {

    color:rgb(57, 148, 190)
  }
  .behaviours-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon {
    cursor: pointer;
    color: var(--editor-panel-text-input-color);
  }
}
