:host {


  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>.title {
      font-weight: 600;
    }

  }

  .header .title {
    color: var(--editor-panel-H-color);
  }

  .header .chevron {
    padding: 6px;
    cursor: pointer;
    color: var(--editor-panel-chevron-color);
  }

  .container {
    transition: all 0.3s;
    border-bottom: var(--editor-panel-border);
    padding-bottom: 12px;
    margin-bottom: 12px;
    // background-color: #283549;

    &.child {
      padding: 2px 0;
      margin-bottom: 4px;
      overflow-y: hidden;
      border: none;


    }

    &.collapsed {
      padding: 0;
      overflow-y: hidden;
      height: 0px;
    }
  }
}
