:host {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > .title {
      font-weight: 600;
      padding-left: 4px;
    }

    margin-bottom: 4px;
  }

  .header .title {
    color: var(--editor-panel-H-color);
    flex-grow: 1;
  }

  .header .chevron {
    padding: 6px;
    cursor: pointer;
    color: var(--editor-panel-chevron-color);
  }

  .container {
    transition: all 0.3s;
    border-bottom: var(--editor-panel-border);
    padding-bottom: 12px;
    margin-bottom: 12px;
    padding: var(--editor-panel-outer-padding);

    // background-color: #283549;

    &.child {
      padding: 2px 0;
      margin-left: 4px;
      margin-bottom: 4px;
      overflow-y: hidden;
      border: none;
      background-color: #2d3d53;
    }

    &.collapsed {
      padding: 0;
      overflow-y: hidden;
      height: 0px;
    }
  }
}
