 :host {
   display: block;
   transition: all 0.5s;
 }

 .tree-node {
   display: flex;
   justify-content: space-between;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   transition: background-color 0.2s;
   position: relative;
   margin: 2px 4px;

   &:hover {
     background-color: #374151;
   }

   &.selected {
     background-color: #0095eb;
   }
 }

 .tree-node-content {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   flex-grow: 1;
   padding: 2px 0;
 }

 .tree-node .tree-node-icon {
   width: 1rem;
   height: 1rem;
   flex-shrink: 0;
   color: #9CA3AF;
 }

 .tree-node-name {
   color: #E5E7EB;
   flex-grow: 1;
 }

 .tree-node-children {
   margin-left: 10px;
   border-left: 1px solid #4B5563;
   padding-left: 2px;
 }

 .drop-inside {
   background-color: #4B5563;
   outline: 1px dashed #6EE7B7;
 }

 .drop-above::before {
   content: '';
   position: absolute;
   top: -2px;
   left: 0;
   right: 0;
   height: 2px;
   background-color: #6EE7B7;
   border-radius: 1px;
 }

 .drop-below::after {
   content: '';
   position: absolute;
   bottom: -2px;
   left: 0;
   right: 0;
   height: 2px;
   background-color: #6EE7B7;
   border-radius: 1px;
 }
