:host {
  width: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--editor-panel-outer-padding);
  background: var(--editor-panel-background);
  color: var(--editor-panel-color);
  border: var(--editor-panel-border);
  box-shadow: var(--editor-panel-box-shadow);
}
