* {
  --editor-panel-outer-padding: 10px;
  --editor-panel-background: #19212e;
  --editor-panel-color: #e6edf3;
  --editor-panel-border: 1px solid #30363d;
  --editor-panel-box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
}
