.grid-container {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  align-content: flex-start;
  gap: 16px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid transparent;

  &:hover {
    background-color: var(--editor-panel-background-50);
  }

  &.selected {
    background-color: var(--editor-icon-button-hover-background);
    border-color: var(--editor-panel-H-color);
  }

  .grid-item-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }

  .grid-item-name {
    // font-size: 12px;
    text-align: center;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
