@if(entity){
<div class="header">
  <app-toggle title="Activate/Deactivate Entity. If disabled will disable the entity!"  [active]="entity.active" (change)="entity.active = !entity.active"></app-toggle>

  <!-- <app-icon title="Activate/Deactivate Entity. If disabled will disable the entity!" class="view-icon" [iconName]="entity.active ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"
    (click)="entity.active = !entity.active"></app-icon> -->
  <span class="title">{{windowTitle}}</span>
  <div class="buttons">
    <!-- <app-icon class="icon" iconName="fa-close" (click)="entity=null"></app-icon>
    <app-icon class="view-icon" [iconName]="entity.active ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"
      (click)="entity.active = !entity.active"></app-icon> -->
    <app-icon title="Close inspector"  class="icon" iconName="fa-close" (click)="onClose()"></app-icon>
  </div>
</div>

}
